.listText {
  font-size: 20px;
  font-weight: 400;
  color: #4f4f8c;
}

.listButton {
  width: 60px;
  height: 25px;
  border: 2px solid #4f4f8c;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #4f4f8c;
  cursor: pointer;
}
.listButton:hover {
  background-color: #4f4f8c;
  color: white;
}
