.label {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.input {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1pt solid #4f4f8c;
  border-radius: 4px;
}

.input:focus {
  outline: 2px solid #1b74da;
}
