.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 180px;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin: 20px 0;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.load {
  font-size: 32px;
  font-weight: 700;
  color: white;
}