.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.load {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.blankSheet {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
