.listTitle {
  margin: 20px 0;
  font-size: 26px;
  font-weight: 700;
  color: white;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 480px;
  min-height: 50px;
  max-height: 200px;
  border: 2px solid #4f4f8c;
  border-radius: 6px;
  padding: 40px 30px;
  background-color: #b1ceef;
  overflow-y: auto;
}

.nameContainer {
  margin-right: 20px;
}

.listItem {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.5fr;
  grid-gap: 0.5vw;
  margin-bottom: 5px;
}
